@charset "UTF-8";
@import url(./aShinoXiaoyu/source/aShinoXiaoyu-set.css);

/* 可选字体：
   1.Windows自带字体, 例如: Times New Roman, Consolas, Microsoft YaHei. 详情见"C:\Windows\Fonts"
   2.阿里妈妈普惠体：Ali_PuHuiTi (字粗:100、200、300、...、900)
   3.思源黑体：SiYuan_HeiTi (字粗:100、200、300、...、700)
   4.霞鹜文楷：XiaWuWenKai (字粗:100、200、300)
   5.站酷仓耳渔阳体: ZhanKu_YvYangTi (字粗:100、200、300、400、500)
*/

:root {
    /* body */
    --body-background-color: #fff;
    /* 整个界面的背景颜色 */
    --select-text-bg-color: #CCCC99;
    /* 选中文本时文本的背景颜色 */

    /* write */
    /* --write-margin: 5px 5px 5px 5px; */
    /* 书写框的外边距 */
    --write-padding: 25px 25px 25px 25px;
    /* 书写框的内边距 */
    /* --write-font-family: Consolas, "华康手札体W5P",  'Microsoft YaHei'; */
    /* --write-font-family:  'Microsoft YaHei'; */
    --write-font-family:  'Microsoft Sans Serif', 'Times New Roman', 'Microsoft YaHei';
    /* --write-font-family:  "华康手札体W5P",  'Microsoft YaHei'; */
    /* 全局的字体名称*/
    --write-font-size: 14px;
    /* 全局的字体大小 */
    --write-font-weight: 400;
    /* 全局的字体粗细 */
    --write-line-height: 1.35;
    /* 全局的行高 */
    --write-color: #000;
    /* 全局的字体颜色 */
    --write-background: #fffffe;
    /* 书写框的背景颜色,使用linear-gradient可以实现渐变色 */
    --write-border: 2px solid rgba(255, 255, 255, 0.75);
    /* 书写框的边框 */
    --write-border-radius: 0px;
    /* 书写框的边框圆角 */
    /* --write-max-width: 80%; */
    --write-max-width: 860px;
    /* 书写框的所占比例 */
    --write-margin: 5px auto;

    /* favico */
    --favico-url: url(image/leimu.png);
    /*     右下角的图片(可以使用动图),若想取消显示,用"var(--body-bg-color);"替代即可 */
    --favico-url: var(--body-bg-color);
    --favico-size: 10vw auto;
    /* 图片大小 */
    /* --favico-position: 15% 15%; */
    /* 图片位置(可以使用百分比,例如:99% 95%) */

    /* YAML */
    --yaml-margin: 20px 0px;
    --yaml-padding: 10px;
    /* --yaml-font-family: 'XiaWuWenKai'; */
    --yaml-font-size: 1.0rem;
    --yaml-font-weight: 400;
    --yaml-line-height: 1.2;
    --yaml-color: #000;
    --yaml-background-color: #f0f0f0;
    --yaml-border: 2px solid black;
    --yaml-border-radius: 5px;

    /* 目录 */
    --toc-margin: 20px 0px;
    --toc-padding: 0px;
    --toc-background-color: #fff;
    --toc-border: 2px solid #000;
    --toc-border-radius: 5px;
    /*--toc-title-font-family: 'SiYuan_HeiTi';       /* ----------设置`目录`二字---------- */
    --toc-title-font-size: 1.0rem;
    --toc-title-font-weight: 500;
    --toc-title-line-height: 1.2;
    --toc-title-color: #000;
    /*--toc-content-font-family: 'SiYuan_HeiTi';     /* ----------设置目录内容---------- */
    --toc-content-font-size: 1.0rem;
    --toc-content-font-weight: 400;
    --toc-content-line-height: 1.2;
    --toc-content-color: #000;
    --toc-content-border-top: 2px dashed #000;
    /* 目录内容的上边框 */
    --toc-content-hover-color: #47b357;
    /* 鼠标悬停时字体颜色 */
    --toc-content-hover-font-weight: 500;
    /* 鼠标悬停时字体粗细 */

    /* 标题(仅支持h1,h2,h3) */
    --h1-margin: 30px 0px;
    --h1-padding: 0px;
    /* --h1-font-family: 'SiYuan_HeiTi'; */
    --h1-font-size: 30px;
    --h1-font-weight: 1000;
    --h1-font-color: #000000;
    --h1-line-height: 1.2;
    --h1-icon: '';
    /* h1标题前的图标*/
    --h1-icon-color: #fe5f58;
    --h1-icon-margin-right: 5px;
    /* 图标与标题的间距*/
    --h1-span-border-bottom: none;

    --h2-margin: 10px 0px;
    --h2-padding: 0px;
    /* --h2-font-family: 'SiYuan_HeiTi'; */
    --h2-font-size: 20px;
    --h2-font-weight: 800;
    --h2-font-color: #990033;
    --h2-line-height: 1.4;
    --h2-icon: '#';
    --h2-icon-color: #990033;
    --h2-icon-margin-right: 5px;
    --h2-span-border-bottom: 3px solid #990033;

    --h3-margin: 10px 0px;
    --h3-padding: 0px;
    --h3-font-size: 16px;
    --h3-font-weight: 750;
    --h3-font-color: #1600a4;
    --h3-line-height: 1.4;
    --h3-icon: '##';
    --h3-icon-color: #1600a4;
    --h3-icon-margin-right: 5px;
    --h3-span-border-bottom: 2.5px solid #1600a4;

    --h4-margin: 10px 0px;
    --h4-padding: 0px;
    --h4-font-size: 14px;
    --h4-font-weight: 600;
    --h4-font-color: #004d00;
    --h4-line-height: 1.2;
    --h4-icon: '\e67f';
    --h4-icon-color: #004d00;
    --h4-icon-margin-right: 5px;
    --h4-span-border-bottom: 2px solid #004d00;

    --h5-margin: 10px 0px;
    --h5-padding: 0px;
    --h5-font-size: 14px;
    --h5-font-weight: 500;
    --h5-font-color: #336666;
    --h5-line-height: 1.2;
    --h5-icon: '\e67f';
    --h5-icon-color: #336666;
    --h5-icon-margin-right: 5px;
    --h5-span-border-bottom: 1px solid #336666;

    --h6-margin: 10px 0px;
    --h6-padding: 0px;
    --h6-font-size: 14px;
    --h6-font-weight: 500;
    --h6-font-color: #669999;
    --h6-line-height: 1.2;
    --h6-icon: '\e67f';
    --h6-icon-color: #669999;
    --h6-icon-margin-right: 5px;
    --h6-span-border-bottom: 0.1px solid #669999;

    /* 引用块 */
    --blockquote-margin: 10px 0px;
    --blockquote-padding: 10px;
    /* --blockquote-font-family: 'SiYuan_HeiTi'; */
    --blockquote-font-size: 1.0rem;
    --blockquote-font-weight: 400;
    --blockquote-line-height: 1.35;
    --blockquote-border-left: 5px solid #006633;
    /* 默认引用块的左边框 */
    --blockquote-background-color: #edf1e4;
    --info-blockquote-border-left: 5px solid #5fa7e4;
    /* 信息引用块的左边框 */
    --info-blockquote-background-color: #e4edf6;
    --warn-blockquote-border-left: 5px solid #f0ad4e;
    /* 警告引用块的左边框 */
    --warn-blockquote-background-color: #FFFACD;
    --danger-blockquote-border-left: 5px solid #db524f;
    /* 危险引用块的左边框 */
    --danger-blockquote-background-color: #fdeaea;
    --success-blockquote-border-left: 5px solid #5cb85c;
    /* 成功引用块的左边框 */
    --success-blockquote-background-color: #eef7f0;


    /* 注释 */
    /* --annotation-font-family: "SiYuan_HeiTi"; */
    --annotation-font-size: 1.0rem;
    --annotation-font-weight: 500;
    --annotation-color: #4e9452;
    --annotation-line-height: 1.2;

    /* 超链接 */
    --link-margin: 2px;
    --link-padding: 0px;
    /* --link-font-family: 'Ali_PuHuiTi'; */
    --link-font-size: 1.0rem;
    --link-font-weight: 500;
    --link-line-height: 1.2;
    --link-color: #61abff;
    --link-background-color: #fff;
    --link-border-bottom: 2px solid #000;
    /* 超链接的下边框 */
    --link-hover-color: #db524f;
    --link-hover-font-weight: 500;

    /* 小标签 */
    --note-margin: 0px;
    --note-padding: 2px 4px;
    /* --note-font-family: 'ZhanKu_YvYangTi'; */
    --note-font-size: 1.0rem;
    --note-font-weight: 400;
    --note-line-height: 1.2;
    --note-color: #fff;
    --note-background-color-default: #6aaf7e;
    /* 小标签的默认颜色 */
    --note-border: none;
    --note-border-radius: 2px;

    /* 强调型文本-下划线, 着重号, 波浪线 */
    --emp-margin: 0px;
    --emp-padding: 0px;
    /* --emp-font-family: 'Ali_PuHuiTi'; */
    --emp-font-size: 1.0rem;
    --emp-font-weight: 400;
    --emp-line-height: 1.3;
    --emp-line-color: #fe5f58;

    /* 高亮 */
    /* --highlight-font-family: 'Ali_PuHuiTi'; */
    --highlight-font-size: 1.0rem;
    --hightight-font-weight: 400;
    --highlight-color: #000;
    --highlight-background-color: #fbe598;
    --highlight-border-radius: 2px;

    /* KBD */
    --kbd-margin: 0px;
    --kbd-padding: 2px 4px;
    /* --kbd-font-family: 'Consolas'; */
    --kbd-font-size: 1.0rem;
    --kbd-font-weight: 400;
    --kbd-color: #000;
    --kbd-background-color: #fff;
    --kbd-border-width: 2px;
    --kbd-border-radius: 2px;
    --kbd-border-color: #000;

    /* 折叠标签 */
    /*--details-title-font-family: 'SiYuan_HeiTi';              /* 折叠标签题目 */
    --details-title-font-size: 1.0rem;
    --details-title-font-weight: 600;
    --details-title-line-height: 1.3;
    --details-title-color: rgba(0, 0, 0, 0.75);
    --details-title-background-color: #d0edf1;
    /*--details-content-font-family: 'XiaWuWenKai';             /* 折叠标签内容 */
    --details-content-font-size: 1.0rem;
    --details-content-font-weight: 300;
    --details-content-line-height: 1.3;
    --details-content-color: rgba(0, 0, 0, 0.75);
    --details-content-background-color: #fff;
    --details-border-before: 2px solid #000;
    /* 展开前的边框 */
    --details-border-after: 2px solid #000;
    /* 展开后的边框 */
    --details-border-radius: 5px;

    /* 水平线 */
    --hr-style: 2px dashed #db524f;

    /* 脚注 */
    /* --fontnote-family: 'Times New Roman'; */
    --fontnote-size: 0.8rem;
    --fontnote-weight: 600;
    --footnote-color: #e96900;
    --footnote-background: transparent;

    /* 参考文献 */
    /* --font-refer-font-family: 'ZhanKu_YvYangTi'; */

    /* 行内公式 */
    --inline-eq-font-size: 1.0rem;
    --inline-eq-color: blue;

    /* 普通公式 */
    --eq-font-size: 1.0rem;
    --eq-color: black;

    /* 行内代码 */
    --inline-code-margin: 1px;
    --inline-code-padding: 0px 2px 0px 3px;
    --inline-code-font-family: 'Consolas';
    --inline-code-font-size: 1rem;
    --inline-code-font-weight: 500;
    --inline-code-color: #444444;
    --inline-code-background-color: #f1f1f1;
    --inline-code-line-height: 1.3;
    --inline-code-border-radius: 5px;
    --inline-code-border: 0.7px;
    --inline-code-border-color: #6b6b6b;

    /* 代码块颜色 */
    --code-font-family: 'Consolas';
    --code-font-size: 0.9rem;
    --code-font-weight: 400;
    --code-color: #a6accd;
    --code-border: 1px solid #000;
    --code-border-radius: 10px;
    --code-top-background-color: rgb(33, 37, 43);
    /* 代码块头部背景颜色 */
    --code-body-background-color: rgb(41, 45, 62);
    /* 代码块主体背景颜色 */
    --code-body-border-top-color: rgba(167, 178, 189, 0.2);
    /* 代码块主体上边框颜色 */
    --code-linenum-color: #f0ad4e;
    /* 行号颜色 */
    --code-linenum-font-weight: 500;
    /* 行号字粗 */
    --code-cursor-border: 2px solid #fff;
    /* 光标配置 */
    --code-divided-line-border: 1px solid white;
    /* 分割线配置 */
    --code-inputbox-color: rgba(167, 178, 189, 0.2);
    /* 输入框的颜色 */
    --code-inputbox-border: 2px solid #000;
    /* 输入框的边框配置 */
    --code-inputbox-focus-border: 2px solid #61abff;
    /* 聚焦后输入框的边框配置 */
    --code-selected-line-color: rgba(167, 178, 189, 0.2);
    /* 光标所在代码行的颜色 */
    --code-selected-code-color: rgba(167, 178, 189, 0.2);
    /* 选择代码后,代码的背景色 */

    /* 有序列表 */
    --order-list-margin: 2px 0px 0px 0px;
    --order-list-padding: 0px;
    /* --order-list-font-family: 'SiYuan_HeiTi'; */
    --order-list-font-size: 1.0rem;
    --order-list-font-weight: 400;
    --order-list-color: #000;
    --order-list-line-height: 1.3;
    /* 有序列表各项的行高 */
    --order-list-li-margin: 8px 0px;
    /* 有序列表各项的间距 */
    --order-list-li-indentation: 1.5em;
    /* 有序列表内容的缩进 */
    --order-list-sign-color: #db524f;
    /* 有序列表的数字颜色 */

    /* 无序列表 */
    --unorder-list-margin: 2px 0px 0px 0px;
    --unorder-list-padding: 0px;
    /* --unorder-list-font-family: 'SiYuan_HeiTi'; */
    --unorder-list-font-size: 1.0rem;
    --unorder-list-font-weight: 400;
    --unorder-list-color: #000;
    /* 无序列表的字体颜色 */
    --unorder-list-line-height: 1.3;
    /* 无序列表各项的行高 */
    --unorder-list-li-margin: 8px 0px;
    /* 无序列表各项的间距 */
    --unorder-list-li-indentation: 1.5em;
    /* 无序列表内容的缩进 */
    --unorder-list-sign-color: #db524f;
    /* 无序列表符号的边框颜色 */
    --unorder-list-background-color: #fff;
    /* 无序列表符号的背景颜色 */
    --unorder-list-sign-width: 0.6rem;
    /* 无序列表符号的宽度 */
    --unorder-list-sign-height: 0.6rem;
    /* 无序列表符号的长度 */
    --unorder-list-sign-top: 5px;
    /* 用于调整无序列表符号的位置 */
    --unorder-list-sign-left: 4px;
    /* 用于调整无序列表符号的位置 */
    --unorder-list-border-radius: 150%;
    /* 用于调整无序列表符号的形状*/

    /* 任务列表 */
    --task-line-height: 1.3;
    --task-content-indentation: 1.3rem;
    --task-unselect-border: 2px solid #db524f;
    --task-unselect-background-color: #fff;
    --task-unselect-border-radius: 2px;
    --task-sign-width: 1.1rem;
    --task-sign-height: 1.1rem;
    --task-sign-top: 0px;
    /* 用于调整任务列表的符号的位置 */
    --task-sign-left: 0px;
    /* 用于调整任务列表的符号的位置 */

    /* 图片 */
    --img-margin: 20px 0px;
    --img-padding: 0px;
    --img-border: 1px solid #000;
    --img-border-radius: 2px;
    /* --img-font-family: 'Times New Roman'; */
    --img-font-size: 1.0rem;

    /* 表格 */
    --table-margin: 10px 0px;
    --table-padding: 0px;
    --table-width: 80%;
    /* 表格宽度*/
    /* --table-font-family: 'ZhanKu_YvYangTi'; */
    --table-font-size: 1.0rem;
    --table-line-height: 1.3;
    --table-th-background-color: #a4bda4;
    /* 表头表头背景色 */
    --table-odd-row-color: #ffffff;
    /* 表格内容奇数行颜色 */
    --table-even-row-color: #f1f3ec;
    /* 表格内容偶数行颜色 */
    --table-border: 1px solid #000;
    /* 表格边框配置 */
    --table-th-font-weight: 600;
    /* 表格标题字粗 */
    --table-td-font-weight: 400;
    /* 表格内容字粗 */
}